{% extends 'user/dash.html' %}
{% block content %}


<div class="col-lg-6 grid-margin stretch-card">
              <div class="card" style="width: 1140px;color:black;">
                <div class="card-body">
                  <h4 class="card-title">VIEW PRODUCTS</h4>
                  <br><br>
<!--                  <p class="card-description">-->
<!--                    Add class <code>.table-hover</code>-->
<!--                  </p>-->
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>SI.NO:  </th>
                          <th>Name : </th>
                          <th>Image : </th>
                          <th>Type : </th>
                          <th>Price : </th>
                          <th>Description : </th>
                          <th>Actions</th> &nbsp;&nbsp;

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{i.name}}</td>
                          <td><img style="height:190px;width:180px;" src="{{i.image.url}}"></td>

                          <td>{{i.type}}</td>
                          <td>{{i.price}}</td>

                          <td>{{i.description}}</td>
                          <td><a href="#" ><button class="btn btn-info" type="submit">Add to Cart</button></a></td>

                        </tr>
                       {% endfor %}


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

<!--<table style="margin-left:30px;color: black;padding:20px;border: 2px solid blue;border-collapse: collapse;width: 40%;width:800px;">-->
<!--  <tr style="height:60px;background-color:blue;">-->
<!--    <th>SI.NO:  </th>-->
<!--    <th>Name : </th>-->
<!--    <th>Description : </th>-->
<!--    <th>Edit</th> &nbsp;&nbsp;-->
<!--    <th>Edit</th>-->
<!--  </tr>-->
<!--    {% csrf_token %}-->
<!--    {% for i in data %}-->
<!--  <tr style="height:70px;">-->
<!--    <td>{{ forloop.counter }}</td>-->
<!--    <td>{{i.name}}</td>-->
<!--    <td>{{i.description}}</td>-->
<!--    <td><a href="{% url 'updateproduct' i.id %}" ><button class="btn btn-info" type="submit">Update</button></a></td>-->
<!--    <td><a href="{% url 'deleteproduct' i.id %}"><button class="btn btn-danger" type="submit">Delete</button></a></td>-->

<!--  </tr>-->
<!--  {% endfor %}-->
<!--</table>-->

<!--</center>-->

{% endblock %}